<div>
  <button class="cta-large">Get in touch!</button>
</div>
<div id="social-links" class="layout-row-around">
  <ul>
    <sub>General</sub>
    <li>
      <a href="https://www.facebook.com/christhopherleao" target="blank">Facebook</a>
    </li>
    <li>
      <a href="https://br.linkedin.com/in/chrislion" target="blank">Linkedin</a>
    </li>
  </ul>
  <ul>
    <sub>Creative</sub>
    <li>
      <a href="https://www.flickr.com/photos/chrisleao/" target="blank">Flickr</a>
    </li>
    <li>
      <a href="https://www.instagram.com/chris.lion/" target="blank">instagram</a>
    </li>
    <li>
      <a href="https://www.behance.net/lion_red/" target="blank">Behance</a>
    </li>
  </ul>
  <ul>
    <sub>Code</sub>
    <li>
      <a href="https://github.com/itsmelion" target="blank">GitHub</a>
    </li>
    <li>
      <a href="https://gitlab.com/christhopherlion" target="blank">GitLab</a>
    </li>
  </ul>
</div>

<footer>
  <p>
    <sub>ΛLIΛ</sub>
    <span>beta-0.1</span>
    <br>CNPJ: 26.910.803/0001-77<br>inscrição municipal: 72088334
    <a href="tel:+5531982875204" title="+55 31 9 8287-5204"></a>
  </p>
</footer>