.fast-ease {
  transition: .15s ease-in-out;
}

// button
button {
  cursor: pointer;
  &.cta-large {
    padding: .8rem 1.6rem;
    background: $highlight;
    border: none;
    border-radius: 2px;
    color: white;
    outline-color: darken($highlight, 10%);
    margin: .8rem;
    text-align: center;
  }
  &.raised {
    padding: .8rem 1.6rem;
    background: transparent;
    border-radius: 3px;
    border: none;
    outline-color: lighten($highlight, 15%);
    margin: .6rem;
    text-align: center;
    &.design {
      background: $wine;
      color: $text-color;
      outline-color: lighten($wine, 15%);
    }
    &.frontend {
      background: $front-primary;
      color: $text-color;
      outline-color: lighten($front-primary, 15%);
    }
    &.backend {
      background: $back-primary;
      color: $text-color;
      outline-color: lighten($back-primary, 10%);
    }
  }
}

.toast {
  padding: .6rem 1rem;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  transition: .2s ease;
  &.toast-info {
    background-color: cadetblue;
  }
}