// .design{
//   color: $wine;
//   fill: $wine;
//   &.alternative{}
// }
// .frontend{
//   color: $front-primary;
//   fill: $front-primary;
//   &.alternative{}
// }
// .backend{
//   color: $back-primary;
//   fill: $back-primary;
//   &.alternative{}
// }