html,
body {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
    color: inherit;
    font-weight: 200;
    font-size: 2rem;
    font-size: 4vmax;
}