$radius: 2pt;
$theme: dark;
$bg: #313133;
$highlight: #D12F60;
$accent: #36CADE;
$text-color: rgba(255, 250, 250, .84);
$darker: rgba(0, 0, 0, 0.3);
$bluegrey: #323C46;
$alien: #96DB3E;
$wine: #C62E73;
$wine-light: #ED5DA8;
$gray: #919191;
$lightgray: #EFEFEF;
$back-primary: #323C46;
$front-primary: #48A3AC;