@import '../../sass/vars';
.hex {
  width: 90px;
  height: 90px;
  fill: #EFEFEF;
  cursor: pointer;
  .background {
    fill: #EFEFEF;
  }
  .border {
    fill: #EFEFEF;
  }
  &.design {
    &:hover,
    &:focus {
      .background {
        fill: $wine-light;
      }
      .border {
        fill: $wine;
      }
    }
  }
  &.frontend {
    &:hover,
    &:focus {
      .background {
        fill: lighten( $front-primary, 25%)
      }
      .border {
        fill: $front-primary;
      }
    }
  }
  &.backend {
    &:hover,
    &:focus {
      .background {
        fill: lighten($back-primary, 15%)
      }
      .border {
        fill: $back-primary;
      }
    }
  }
}

#skillRadial {
  margin-bottom: 50px;
  li {
    list-style: none;
    height: 100px;
    width: 90px;
  }
  li>a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  svg {
    position: absolute;
  }
  li>a>img {
    position: absolute;
    width: 90px;
    height: 90px;
    transition: transform .2s ease-in-out;
    transform-origin: center center;
    transition-delay: .4s;
    pointer-events: none;
  }
  sub {
    display: inline-block;
    bottom: 10px;
  }
  li.uk-active {
    a>img {
      transform: scale3d(1, 1, 1);
    }
    .background {
      fill: lighten($back-primary, 20%)
    }
    .border {
      fill: lighten($back-primary, 15%);
    }
    .design {
      color: $wine;
    }
    .frontend {
      color: $front-primary;
    }
  }
}

.skill-box {
  border: 2px solid $lightgray;
  border-top: 36px solid $lightgray;
  border-bottom: 6px solid $lightgray;
  width: 100%;
  ul {
    position: relative;
    height: 100%;
    background-color: #e0e0e0;
    li {
      background: white;
      outline: none;
      margin: 3px 6px 2px 6px;
      font-size: 80%;
      line-height: 1.2;
      width: 150px;
      text-align: center;
      border: 1px solid $lightgray;
      img {
        width: 35px;
        height: 35px
      }
      >div {
        font-size: 70%;
      }
      p {
        font-weight: bold;
        margin-left: 12px;
      }
    }
  }
}