<div id="skillRadial" class="layout-row-center">
  <li>
    <a>
      <svg class="hex design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.01 144.11">
        <polygon class="background fast-ease" points="1 107.49 1 36.62 65.51 1.14 130.01 36.62 130.01 107.49 65.51 142.97 1 107.49"
        />
        <path class="border fast-ease" d="M65.51,2.28,129,37.21V106.9L65.51,141.83,2,106.9V37.21L65.51,2.28m0-2.28L0,36v72.06l65.51,36,65.51-36V36L65.51,0Z"
        />
      </svg>
      <img src="assets/images/design-graph.svg" />
    </a>
    <sub class="design">Design</sub>
  </li>
  <li>
    <a>
      <svg class="hex frontend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.01 144.11">
        <polygon class="background fast-ease" points="1 107.49 1 36.62 65.51 1.14 130.01 36.62 130.01 107.49 65.51 142.97 1 107.49"
        />
        <path class="border fast-ease" d="M65.51,2.28,129,37.21V106.9L65.51,141.83,2,106.9V37.21L65.51,2.28m0-2.28L0,36v72.06l65.51,36,65.51-36V36L65.51,0Z"
        />
      </svg>
      <img src="assets/images/front-graph.svg" />
    </a>
    <sub class="frontend">Frontend</sub>
  </li>
  <li>
    <a>
      <svg class="hex backend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.01 144.11">
        <polygon class="background fast-ease" points="1 107.49 1 36.62 65.51 1.14 130.01 36.62 130.01 107.49 65.51 142.97 1 107.49"
        />
        <path class="border fast-ease" d="M65.51,2.28,129,37.21V106.9L65.51,141.83,2,106.9V37.21L65.51,2.28m0-2.28L0,36v72.06l65.51,36,65.51-36V36L65.51,0Z"
        />
      </svg>
      <img src="assets/images/backend-graph.svg" />
    </a>
    <sub class="backend">Backend</sub>
  </li>
</div>


<div class="skill-box">
  <ul class="layout-row list">
    <li *ngFor="let tool of design | async">
      <img [src]="tool.imgURL" />
      <p>{{tool.name}}</p>
      <div *ngIf="tool.certification">
        {{tool.certificationTEXT}}
        <a [href]="tool.certificationURL">See certification</a>
      </div>
    </li>

    <li *ngFor="let tool of front | async">
      <img [src]="tool.imgURL" />
      <p>{{tool.name}}</p>
      <div *ngIf="tool.certification">
        {{tool.certificationTEXT}}
        <a [href]="tool.certificationURL">See certification</a>
      </div>
    </li>

    <li *ngFor="let tool of backend | async">
      <img [src]="tool.imgURL" />
      <p>{{tool.name}}</p>
      <div *ngIf="tool.certification">
        {{tool.certificationTEXT}}
        <a [href]="tool.certificationURL">See certification</a>
      </div>
    </li>

  </ul>
</div>