@import '../../sass/vars';
header {
  margin-top: -160px;
  width: 100%;
  padding-bottom: 80px;
  #hero-gradient {
    -webkit-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
    margin-top: -5vh;
    color: white;
    width: 100%;
    height: 80vh;
    padding: 10vh 0 0 0;
    box-sizing: content-box;
    flex-direction: column;
    background-color: $back-primary;
    background: -moz-radial-gradient(bottom, ellipse cover, $front-primary 0%, #43657f 25%, $back-primary 50%);
    background: -webkit-radial-gradient(bottom, ellipse cover, $front-primary 0%, #43657f 25%, $back-primary 50%);
    background: radial-gradient(ellipse at bottom, $front-primary 0%, #43657f 25%, $back-primary 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$front-primary', endColorstr='$back-primary', GradientType=1);
  }
  h1,
  p,
  h2,
  sub,
  h3,
  h4,
  span {
    color: white;
    z-index: 2;
  }
  #hero-content {
    margin-top: 200px;
    -webkit-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);
  }
}