<header>
  <div id="hero-gradient">
    <div id="hero-content" class="layout-column-center">
      <div class="flex-grow text-center">
        <h1>ΛLIΛ</h1>
        <h2>The edge of stack Development<span class="pulse">|</span></h2>
        <h3>one man, all skills</h3>
        <h4>{{ (texts | async)?.HERO.title }}</h4>
      </div>
    </div>
  </div>
</header>