<div class="uk-modal-dialog">
  <button class="uk-modal-close-full" type="button" uk-close></button>
  <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
    <div class="uk-background-cover" style="background-image: url('http://unsplash.com/photos/F9o7u-CnDJk/download');" uk-height-viewport></div>
    <div class="uk-padding-large">
      <h1>Design is not about being pretty, but being smart</h1>
      <p>
        Here i talk about how people miss the fundamental function of a TRUE designer. In Brazil this profession is soo missundertood,
        and not many companies feel the true worth of a good design.
      </p>
    </div>
  </div>
</div>