<!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-language" content="en-UK">
<title>ΛLIΛ</title>
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-tile.png" />
<meta name="msapplication-TileColor" content="#313133" />
<meta name="theme-color" content="#313133" />
<link rel="icon" type="image/png" href="assets/images/favicons/speeddial-160px.png" />
<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"><![endif]-->
<link rel="icon" type="image/x-icon" href="assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-16.png" sizes="16x16">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-32.png" sizes="32x32">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-48.png" sizes="48x48">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-64.png" sizes="64x64">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-128.png" sizes="128x128">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="assets/images/favicons/apple-touch-icon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="reply-to" content="christhopherleao@icloud.com">
<meta name="author" content="Christhopher Lion">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-status-bar-style" content="black">
<meta name="description" content="ΛLIΛ profile" />
<meta name="keywords" content="Alia web, alia, alia mobile, mobile apps, apps, ΛLIΛ, belo horizonte, brazil, brasil, empresa, software" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_UK">
<meta property="og:locale:alternate" content="pt-BR" />
<meta property="fb:app_id" content="{{facebookAppId}}">
<meta property="og:site_name" content="ΛLIΛ" />
<meta property="og:title" content="ΛLIΛ overview" />
<meta property="og:description" content="ΛLIΛ software company" />
<meta property="og:url" content="lion.alia.tk" />

<meta property="og:image" content="assets/images/brand/logo-800x600.png" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="600">

<meta property="og:video" content="assets/images/brand/intro.mp4" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video:width" content="400" />
<meta property="og:video:height" content="300" />

<meta property="og:audio" content="assets/images/brand/audio.mp3" />
<meta property="og:audio:type" content="audio/mpeg" />

<meta property="twitter:title" content="ΛLIΛ Multimedia" />

<base href="/">
<style>
  .loading {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 100;
    pointer-events: none;
  }
  alia:empty + .loading {
      opacity: 1;
  }
  alia:empty + .loading h1 {
      color: #EEE;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translate(0, -50%);
  }
</style>

</head>
<body>
  <alia class="layout-column"></alia>
  <div class="loading">
      <h1>Loading | Carregando</h1>
  </div>
</body>

</html>