@import '~flamework/flamework';
@import
"sass/vars.scss",
"sass/typography.scss",
"sass/themes.scss",
"sass/components.scss";

html,
body {
  position: relative;
  display: flex;
  margin: 0;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  alia {
    max-width: 100%;
    width: 100%;
  }
}

::selection {
  background: $highlight;
  color: white;
}

::-moz-selection {
  background: $highlight;
  color: white;
}

sub {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 6px 12px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.4;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}